

   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">   
/*estilos.css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:bisque;
}
header{
    width: 100%;
    height: 50px;
    background-color:#ceece1;
    color:blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
     display:table;
}

h1{
  float:left;
    
}
p{
    font-size: 25px;
background-color: rgba(178, 101, 46, 0.34);
    border-style:none;
    padding: 65px;
    padding-bottom: 30px
    
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#Bienvenidos{
    text-align: center;
}
.contenedor img{
     width: 100%;
    height: 100%;
}
.contenedor{
  width:98%;
  margin:auto;
}



/*menu.css*/
#menu-bar{
  display:none;
  
}
header label{
  float:right;
  font-size : 30px;
  margin:6px 0;
  cursor:pointer;
} 
.menu{
  position:absolute;
    top:80px;
    left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(100,149,237,0.8);
    transition: all 1s;
    transform: translateX(-100%);
}
.menu a{
    font-size: 20PX;
  display:block;
  color:#fff;
  height:50px;
  text-decoration:none;
  padding:25px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
    
}
.menu a:hover{
  background:rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}



/*banner.css*/
#banner{
    margin-top: 50px;
    position: relative;  
}
#banner img{
    width: 100%;
    height: 50%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}
#banner h2{
    font-size: 65px;
     background-color: rgba(15, 15, 15, 0.62)
}
#banner a{
    display: block;
    width: 100px;
    color:#fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
    
}
#banner a:hover {
    background: rgba(51,51,51,0.6);
}


/*blog.css*/
#blog h3{
    text-align: center;
    background: rgba(100,149,237,0.8);
    padding: 10px;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article{
    margin: 15px;
}

#blog img {
    width:100%;

/*max-width:280px;*/

}


#blog a{
    font-size: 25px;
    text-decoration: none;
    margin: 10px 10px;
    display: block;
    background: rgba(100,149,237,0.8);
    padding: 20px;
}
#blog  a:link{
    color: #fff;
}
#blog a:visited{
    color:black;
}
#blog a:hover{
    box-shadow: 0px 3px 0px #1D64A6;
    background: #fff;
}
#blog a:active{
    box-shadow: none;
}

